<%= form_for(option_set, url: option_sets_path, method: :post, remote: true, class: 'option_set_form') do |f| %>
  <div class="options panel panel-default">
    <div class="option panel-body">
      <label class="control-label">
        Vi-compatibility
      </label>
      <a href="http://vimdoc.sourceforge.net/htmldoc/options.html#'compatible'" class="doc-link" target="_blank">
        see documentation
      </a>
      <span class="help-block">
        Adds backwards-compatibility with the Vi editor by turning off many Vim features
      </span>
      <div class="choices">
        <div class="radio">
          <%= f.label :compatible, value: true do %>
            <%= f.radio_button :compatible, true %>
            On
          <% end %>
          <div class="radio">
            <%= f.label :compatible, value: false do %>
              <%= f.radio_button :compatible, false, checked: true %>
              Off (recommended)
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="submit">
      <button type="submit" class="btn btn-default">
        <%= icon('cog') %> Generate
      </button>
    </div>
    <div class="panel-footer output-panel" style="<%= option_set.persisted? ? nil : "display: none;" %>">
      <div class="well output">
        <samp>
          <% if option_set.persisted? %>
            <%= render 'option_set.text.erb', option_set: option_set %>
          <% end %>
        </samp>
      </div>
      <div class="download">
        <button type="button" class="btn btn-default"><%= icon('clipboard') %> Copy</button>
        <button type="button" class="btn btn-success">
          <%= icon('download') %> Download
        </button>
      </div>
    </div>
  </div>
<% end %>
